@mixin grid($columnas, $gap) {
    display: flex;
    grid-template-columns: repeat($columnas, 1fr);
    column-gap: $gap;
}

@mixin tablet {
    @media(min-width: 768px){
        @content;
    }
}

@mixin desktop {
    @media(min-width:1200px){
        @content;
    }
}

@mixin responsive($minwidth) {
    @media(min-width:$minwidth){
        @content;
    }
}