            /*	#################################
                         Colores
                #################################*/
$colorPrincipal-1: #252a3e;
$colorPrincipal-2: #f84756;
$colorPrincipal-3: #5867a1;
$colorPrincipal-4: #b1bef6;

$colorSecundario-1: #fef1f1;
$colorSecundario-2: #1a1c25;



/*          	#################################
                         Fuentes
                #################################*/
@import url('https://fonts.googleapis.com/css2?family=Truculenta:wght@400;700;900&display=swap');
$fuentePrincipal:'Truculenta', sans-serif;